html, body {
    color: #575757;
    font-family: 'Athiti', sans-serif;
    background-attachment: fixed;
    background-size: 100%;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    font-weight: bolder;
    font-size: 20px;
}
.navbar{
    background-color: #eeeeee00;
}

li > a:hover{
    color: #ffffff;
}
.btn a:visited {
    color: #ff9215;
}
.btn a:visited{
    color: #ff9215;
}
.btn a:link{
    color: #ff9215;
}
.card-header{
    background-color: f1f1f1;
    color: #ff9215;
    font-weight: bolder;
    font-size: 22px;
}
.card-body{
    color: #ff9215;
    font-weight: bolder;
}